In [19]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd
# 词嵌入
vectorizer_2=CountVectorizer()
pd.DataFrame(vectorizer_2.fit_transform(corpus_jieba).toarray(),columns=vectorizer_2.get_feature_names_out())

   一些  中国  喜欢  工作  文献  旅游  汽车  流行  科技  苹果  茶叶  这个
0   0   1   1   0   0   1   0   0   0   0   0   0
1   0   1   0   0   0   0   1   1   0   0   0   1
2   0   0   2   0   0   0   0   0   0   1   1   0
3   1   0   0   1   1   0   0   0   1   0   0   1

In [17]:
corpus=["我喜欢来中国旅游",
        "这个汽车在中国很流行",
        "我喜欢茶叶和喜欢苹果",
        "这个工作是写一些科技文献"]
corpus_jieba=[' '.join(jieba.lcut(sen)) for sen in corpus]   # 用.join()把分出的词变成一个向量，词中间以' '中的空格分隔
corpus_jieba

['我 喜欢 来 中国 旅游', '这个 汽车 在 中国 很 流行', '我 喜欢 茶叶 和 喜欢 苹果', '这个 工作 是 写 一些 科技 文献']

In [6]:
# 中文处理
import jieba  # 结巴分词
jieba.lcut('我喜欢来中国旅游')

Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\fzh00\AppData\Local\Temp\jieba.cache
Loading model cost 0.717 seconds.
Prefix dict has been built successfully.

['我', '喜欢', '来', '中国', '旅游']

In [5]:
# 单个字母词会自动去掉（停用词）
df1=pd.DataFrame(vectorizer.fit_transform(corpus).toarray(),columns=vectorizer.get_feature_names_out())   # 用.toarray()显示具体值
df1

,and,apple,car,china,come,in,is,love,papers,polupar,science,some,tea,that,the,this,to,travel,work,write
0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,3,3,0,0
1,0,0,1,1,0,1,1,0,0,1,0,0,0,1,0,1,0,0,0,0
2,1,1,0,0,0,0,0,2,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,1,1,0,1,0,1,1,0,0,1,0,1,0,1,1

In [3]:
# 词嵌入
vectorizer=CountVectorizer()
vectorizer.fit_transform(corpus)   # 稀疏矩阵形式进行存储

<4x20 sparse matrix of type '<class 'numpy.int64'>'
	with 24 stored elements in Compressed Sparse Row format>

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

# 语料库
corpus=["I come to  to  to China travel travel travel",
        "This is a car that polupar in China",
        "I love tea and love Apple ",
        "The work is to write some papers in science"]

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")
import os
os.chdir('C:\Data\Jupyter_file\机器学习')