In [9]:
df[(df['差异_养老']!=0) | (df['差异_医疗']!=0) | (df['差异_失业']!=0)]

,com_姓名,com_养老保险,com_失业保险,com_医疗保险,aut_姓名,aut_养老保险,aut_失业保险,aut_医疗保险,差异_养老,差异_失业,差异_医疗
1,蔡凌艳,1471.30,113.72,802.50,蔡凌艳,1471.3,113.7,802.5,0.00,0.02,0.00
10,高建东,946.16,73.11,516.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,胡建强,1207.50,93.30,658.60,胡建强,1003.2,77.5,547.2,204.30,15.80,111.40
19,刘红智,1158.78,89.52,632.00,刘红智,1158.7,89.5,632.0,0.08,0.02,0.00
20,刘华强,725.30,56.00,395.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,王小建,342.80,0.00,93.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,俞瑊尧,906.70,87.10,494.60,俞瑊尧,900.5,69.6,491.2,6.20,17.50,3.40
41,赵虎,1200.90,92.82,655.08,赵虎,1200.9,92.8,655.0,0.00,0.02,0.08
48,邹海前,827.10,63.90,451.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,熊佳,1672.4,129.2,912.2,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,瞿庆龙,1127.4,87.1,615.0,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,位小建,342.8,0.0,93.5,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,胡娜,342.8,0.0,93.5,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,王飞,735.0,56.8,400.9,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,郑克超,913.3,70.6,498.2,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,郭君,342.8,0.0,93.5,NaN,NaN,NaN

In [7]:
df['差异_养老'] = df.iloc[:,1]-df.iloc[:,5]
df['差异_失业']=df['com_失业保险']-df['aut_失业保险']
df['差异_医疗']=df['com_医疗保险']-df['aut_医疗保险']
df.head()

,com_姓名,com_养老保险,com_失业保险,com_医疗保险,aut_姓名,aut_养老保险,aut_失业保险,aut_医疗保险,差异_养老,差异_失业,差异_医疗
0,张庆光,1461.3,112.90,797.1,张庆光,1461.3,112.9,797.1,0.0,0.00,0.0
1,蔡凌艳,1471.3,113.72,802.5,蔡凌艳,1471.3,113.7,802.5,0.0,0.02,0.0
2,曹琦,804.3,62.10,438.7,曹琦,804.3,62.1,438.7,0.0,0.00,0.0
3,陈正林,1219.2,94.20,665.0,陈正林,1219.2,94.2,665.0,0.0,0.00,0.0
4,邓传英,2251.0,173.90,1227.8,邓传英,2251.0,173.9,1227.8,0.0,0.00,0.0

In [6]:
df.head()

  com_姓名  com_养老保险   com_失业保险  com_医疗保险 aut_姓名  aut_养老保险   aut_失业保险  aut_医疗保险
0    张庆光     1461.3    112.90     797.1    张庆光     1461.3     112.9     797.1
1    蔡凌艳     1471.3    113.72     802.5    蔡凌艳     1471.3     113.7     802.5
2     曹琦      804.3     62.10     438.7     曹琦      804.3      62.1     438.7
3    陈正林     1219.2     94.20     665.0    陈正林     1219.2      94.2     665.0
4    邓传英     2251.0    173.90    1227.8    邓传英     2251.0     173.9    1227.8

In [5]:
df = pd.merge(data1,data2,left_on='com_姓名',right_on='aut_姓名',
              how = 'outer')
df.shape

(56, 8)

In [4]:
data1.shape
data2.shape

(49, 4)

(52, 4)

In [3]:
data1.columns = ['com_'+i for i in data1.columns]
data2.columns = ['aut_'+i for i in data2.columns]
data1[:2]
data2 = data2.iloc[:,:4]
data2[:2]

  com_姓名  com_养老保险   com_失业保险  com_医疗保险
0    张庆光     1461.3    112.90     797.1
1    蔡凌艳     1471.3    113.72     802.5

  aut_姓名  aut_养老保险   aut_失业保险  aut_医疗保险
0    李秀娟     1994.9     154.2    1088.1
1     熊佳     1672.4     129.2     912.2

In [2]:
import pandas as pd
data1 = pd.read_excel(r"C:\Data\Jupyter_file\Python数据清洗基础\办公自动化\5、社保核对\社保核对.xlsx",'企业')
data2 = pd.read_excel(r"C:\Data\Jupyter_file\Python数据清洗基础\办公自动化\5、社保核对\社保核对.xlsx",'社保所')
data1.head(3)
data2.head(3)

    姓名   养老保险     失业保险   医疗保险
0  张庆光  1461.3  112.90  797.1
1  蔡凌艳  1471.3  113.72  802.5
2   曹琦   804.3   62.10  438.7

,姓名,养老保险,失业保险,医疗保险,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,李秀娟,1994.9,154.2,1088.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,熊佳,1672.4,129.2,912.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,邓传英,2251.0,173.9,1227.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"